@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;500;700;800;900&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* changes the 1REM from 16px to 10px */
  font-size: 62.5%;
}

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

button {
  background-color: purple;
  color: #fff;
  border: 1px solid purple;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 40px 90px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
}

button .circle {
  position: absolute;
  /* background-color: #fff; */
  background-color: pink;


  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale .5s ease-out;
}

button .circle:focus,
button.circle:focus-visible {
  outline: none;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}